<ul class="nav nav-list" style="top: 0px;">
    <li class="active">
        <a  id="0" href="#">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> พนักงานทั้งหมด </span>
        </a>
    </li>
    @{
        //if(ViewBag.menulit)
        foreach (var item in @ViewBag.menuList)
        {
            <li class="">
                <a id="@item.DepartmentID" href="#">
                    <i class="menu-icon fa @item.DepartmentIcon"></i>
                    <span class="menu-text"> @item.DepartmentName </span>
                </a>
            </li>
        }
        <li class="chart">            
            <a id="piechart" href="#">
                <i class="menu-icon fa fa-pie-chart"></i>
                <span class="menu-text"> Pie Chart  </span>
            </a>
        </li>
    }
</ul><!-- /.nav-list -->
