<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - data</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen"
          href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
    <style>
        .fade {
            opacity: 0;
            -webkit-transition: opacity 0.15s linear;
            -moz-transition: opacity 0.15s linear;
            -o-transition: opacity 0.15s linear;
            transition: opacity 0.15s linear;
        }

            .fade.in {
                opacity: 1;
            }
    </style>
</head>
<body>
    <div class="container">
        @RenderBody()
        <div id="messagestatus">

        </div>
    </div>
    <script src="~/assets/js/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
    <script type="text/javascript"
            src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#depList').html($('#department').val() + '<span class="caret"></span>')
        })
        $(".form_datetime").datetimepicker({
            format: "dd/MM/yyyy"
        });
        $('.dropdown-menu a').click(function () {
            $('#department').val($(this).html())
            $('#depList').html($(this).html() + '<span class="caret"></span>')

            // alert(aaa);
        });
        $("#staffEven").click(function () {
            //console.log($('#targetStaff').serialize());
            let formName = $('#targetStaff');
            var dataForm = getFormData(formName);
            //console.log(JSON.stringify(dataForm))
            $.ajax({
                type: "POST",
                url: "/Home/SaveStaff",
                data: JSON.stringify(dataForm),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    console.log(response);
                    alertBox(response, 'success')
                    formName[0].reset();
                },
                error: function (response) {
                    alertBox(response, 'error')
                    console.log('Error :' + response);
                }
            });

            //$("#targetStaff").submit();
        });
        function alertBox(response, status) {
            if (status == 'success') {
                HtmlAlert = '<div class="alert alert-success" ><strong>Success!</strong>' + response + '</div>';
            }
            else {
                HtmlAlert = '<div class=""alert alert-danger" ><strong>Error!</strong>' + response + '</div>';
            }
            $('#messagestatus').html(HtmlAlert).fadeIn("slow");
            var timeout = setInterval(function () {
                $('#messagestatus').html('');
            }, 3000);

        }
        function getFormData($form) {
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }
        $('#closePopup').click(
            function () {
                window.close()   // Closes the new window
            });
    </script>
</body>
</html>
