.navbar-default {
    background-color: #438EB9;
    border-color: #e7e7e7;
}
    .navbar-default .navbar-brand {
         color: #ffffff;
    }
        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #ffffff;
            background-color: transparent;
        }