<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Quadra_TechnologyEntities" connectionString="metadata=res://*/Quadra_TechnologyModel.csdl|res://*/Quadra_TechnologyModel.ssdl|res://*/Quadra_TechnologyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Mypublicdatabase.mssql.somee.com;initial catalog=Mypublicdatabase;user id=lp4869_SQLLogin_1;password=lp4869_SQLLogin_1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>