@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<input type="hidden" id="department_tempid" value="" />
<div id="main-table" class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table id="example" class="display" cellspacing="0" style='width:100%'>
                <thead>
                    <tr>
                        <th>แผนก</th>
                        <th>ชื่อพนักงาน</th>
                        <th>วันเกิด</th>
                        <th>ที่อยู่</th>
                        <th>เบอร์โทร</th>
                        <th>อีเมล์</th>
                        <th>ตำแหน่ง</th>
                        <th>วันเริ่มงาน</th>
                        <th>CreatedOn</th>
                        <th>ModifiedOn</th>
                        <th>Tools</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div><!-- /.col -->
</div>
